<!-- scripts -->
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script type="text/javascript" src="/scripts/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=<API-KEY>&callback=initMap&libraries=places" ></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>

<footer>
  <div class="container-fluid center-text ">
    <div class="row">
      <div class="col-lg-12" id="footer-logo">
        <p>LocalCofee &copy; 2017-2018</p>
      </div>
    </div>
</footer>
</body>


</html>
