<!--
 _                     _ _____        __  __
| |                   | /  __ \      / _|/ _|
| |     ___   ___ __ _| | /  \/ ___ | |_| |_ ___  ___
| |    / _ \ / __/ _` | | |    / _ \|  _|  _/ _ \/ _ \
| |___| (_) | (_| (_| | | \__/\ (_) | | | ||  __/  __/
\_____/\___/ \___\__,_|_|\____/\___/|_| |_| \___|\___|

Author: Konstantinos Bourantas 6145

 -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LocalCofee | Το καλύτερο καφέ</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"> -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/table.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/icon.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/menu.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/item.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/grid.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/container.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

</head>

<body>
  <!-- navigation bar -->
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar-top"></span>
                    <span class="icon-bar bar-mid"></span>
                    <span class="icon-bar bar-bot"></span>
                </button>
        <a href="/" class="navbar-brand "><i class="fa fa-coffee" aria-hidden="true"></i> LocalCoffee</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-nav-demo">
        <ul class="nav navbar-nav">
          <li><a href="/index">Πίνακας Ελέγχου</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if(!currentUser){ %>
            <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Είσοδος</a></li>
            <li><a href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Εγγραφή</a></li>
            <% } else { %>
              <li><a href="/index"><i class="fa fa-user" aria-hidden="true"></i> <%= currentUser.username %></a></li>
              <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Έξοδος</a></li>
              <% } %>

        </ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <% if(error && error.length > 0){ %>
      <div class="alert alert-danger " role="alert">
        <button type="button" class="close" aria-hidden="true">&times;</button>
        <%= error %>
      </div>
      <% } %>
        <% if(success && success.length > 0){ %>
          <div class="alert alert-success" role="alert">
            <button type="button" class="close" aria-hidden="true">&times;</button>
            <%= success %>
          </div>
          <% } %>
  </div>

  <div class="container">
    <div class="panel panel-default">
      <h1 id="admin-title"> Admin </h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-2 ">
        <div class="panel panel-default">
          <div class="panel-heading">Πίνακας Ελέγχου</div>
          <div class="panel-body" id="admin-sidepanel">
            <ul>
              <li><a href="/regdeliv"><i class="fa fa-motorcycle" aria-hidden="true"></i> Καταχώρησε Διανομέα</a></li>
              <li><hr></li>
              <li><a href="/katastimata"><i class="fa fa-users" aria-hidden="true"></i> Διαχείριση Καταστημάτων</a></li>
              <li><hr></li>
              <li><a href="/proionta"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Διαχείριση Προιόντων</a></li>
              <li><hr></li>
              <li><a href="/regman"><i class="fa fa-user-plus " aria-hidden="true"></i> Καταχώρησε Υπεύθυνο Καταστήματος</a></li>
              <li><hr></li>
              <li><a href="/misthodosia"><i class="fa fa-credit-card" aria-hidden="true"></i> Μισθοδοσία</a></li>
            </ul>
          </div>
        </div>
      </div>
